<!--==================== Preloader Start ====================-->
<div class="preloader">
    <div class="cssload-loading"><i></i><i></i><i></i><i></i></div>
</div>
<!--==================== Preloader End ====================-->
<!--==================== Overlay Start ====================-->
<div class="overlay"></div>
<!--==================== Overlay End ====================-->
<!--==================== Sidebar Overlay End ====================-->
<div class="side-overlay"></div>
<!--==================== Sidebar Overlay End ====================-->
<!-- Custom Toast Message start -->
<div id="toast-container"></div>
<!-- Custom Toast Message End -->
<!-- ==================== Scroll to Top End Here ==================== -->
<div class="progress-wrap">
    <svg class="progress-circle svg-content" height="100%" viewbox="-1 -1 102 102" width="100%">
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"></path>
    </svg>
</div>
<!-- ==================== Scroll to Top End Here ==================== -->
<!-- Custom Cursor Start -->
<div class="cursor"></div>
<span class="dot"></span>
<!-- Custom Cursor End -->
<!-- ==================== Mobile Menu Start Here ==================== -->
<div
    class="mobile-menu d-lg-none d-block scroll-sm position-fixed bg-white tw-w-300-px tw-h-screen overflow-y-auto tw-p-6 tw-z-999 tw--translate-x-full tw-pb-68">
    <button
        class="close-button position-absolute tw-end-0 top-0 tw-me-2 tw-mt-2 tw-w-605 tw-h-605 rounded-circle d-flex justify-content-center align-items-center text-neutral-900 bg-neutral-200 hover-bg-neutral-900 hover-text-white"
        type="button">
        <i class="ph ph-x"></i>
    </button>
    <div class="mobile-menu__inner">
        <a class="mobile-menu__logo" href="/">
            <h3 class="tw-mb-0">Akkurate</h3>
        </a>
        <div class="mobile-menu__menu">
            <!-- Nav menu Start -->
            <ul class="nav-menu d-lg-flex align-items-center nav-menu--mobile d-block tw-mt-8">
                                                                <li class="nav-menu__item has-submenu position-relative">
                                    <a class="nav-menu__link hover--translate-y-1 tw-pe-5 text-heading tw-py-9 fw-semibold w-100"
                                        href="javascript:void(0)">Home</a>
                                    <ul
                                        class="nav-submenu scroll-sm position-absolute tw-start-0 top-100 tw-w-max bg-white tw-rounded-md overflow-y-auto tw-p-2 tw-mt-4 tw-duration-200 tw-z-99">
                                        <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative"><a class="nav-submenu__link hover-bg-neutral-200 text-heading fw-semibold w-100 d-block tw-py-2 tw-px-305 tw-rounded" href="/">Home</a></li>
                                        <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative"><a class="nav-submenu__link hover-bg-neutral-200 text-heading fw-semibold w-100 d-block tw-py-2 tw-px-305 tw-rounded" href="/index-2">Home Two</a></li>
                                        <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative"><a class="nav-submenu__link hover-bg-neutral-200 text-heading fw-semibold w-100 d-block tw-py-2 tw-px-305 tw-rounded" href="/index-3">Home Three</a></li>
                                        <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative"><a class="nav-submenu__link hover-bg-neutral-200 text-heading fw-semibold w-100 d-block tw-py-2 tw-px-305 tw-rounded" href="/index-4">Home Four</a></li>
                                        <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative"><a class="nav-submenu__link hover-bg-neutral-200 text-heading fw-semibold w-100 d-block tw-py-2 tw-px-305 tw-rounded" href="/index-5">Home Five</a></li>
                                        <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative"><a class="nav-submenu__link hover-bg-neutral-200 text-heading fw-semibold w-100 d-block tw-py-2 tw-px-305 tw-rounded" href="/index-6">Home Six</a></li>
                                        <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative"><a class="nav-submenu__link hover-bg-neutral-200 text-heading fw-semibold w-100 d-block tw-py-2 tw-px-305 tw-rounded" href="/about">About</a></li>
                                        <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative"><a class="nav-submenu__link hover-bg-neutral-200 text-heading fw-semibold w-100 d-block tw-py-2 tw-px-305 tw-rounded" href="/app-intigration">App Integration</a></li>
                                        <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative"><a class="nav-submenu__link hover-bg-neutral-200 text-heading fw-semibold w-100 d-block tw-py-2 tw-px-305 tw-rounded" href="/blog">Blog</a></li>
                                        <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative"><a class="nav-submenu__link hover-bg-neutral-200 text-heading fw-semibold w-100 d-block tw-py-2 tw-px-305 tw-rounded" href="/blog-details">Blog Details</a></li>
                                        <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative"><a class="nav-submenu__link hover-bg-neutral-200 text-heading fw-semibold w-100 d-block tw-py-2 tw-px-305 tw-rounded" href="/cart">Cart</a></li>
                                        <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative"><a class="nav-submenu__link hover-bg-neutral-200 text-heading fw-semibold w-100 d-block tw-py-2 tw-px-305 tw-rounded" href="/checkout">Checkout</a></li>
                                        <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative"><a class="nav-submenu__link hover-bg-neutral-200 text-heading fw-semibold w-100 d-block tw-py-2 tw-px-305 tw-rounded" href="/contact">Contact</a></li>
                                        <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative"><a class="nav-submenu__link hover-bg-neutral-200 text-heading fw-semibold w-100 d-block tw-py-2 tw-px-305 tw-rounded" href="/faq">FAQ</a></li>
                                        <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative"><a class="nav-submenu__link hover-bg-neutral-200 text-heading fw-semibold w-100 d-block tw-py-2 tw-px-305 tw-rounded" href="/intigration-details">Integration Details</a></li>
                                        <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative"><a class="nav-submenu__link hover-bg-neutral-200 text-heading fw-semibold w-100 d-block tw-py-2 tw-px-305 tw-rounded" href="/login">Login</a></li>
                                        <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative"><a class="nav-submenu__link hover-bg-neutral-200 text-heading fw-semibold w-100 d-block tw-py-2 tw-px-305 tw-rounded" href="/policy-privacy">Policy Privacy</a></li>
                                        <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative"><a class="nav-submenu__link hover-bg-neutral-200 text-heading fw-semibold w-100 d-block tw-py-2 tw-px-305 tw-rounded" href="/pricing-plan">Pricing Plan</a></li>
                                        <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative"><a class="nav-submenu__link hover-bg-neutral-200 text-heading fw-semibold w-100 d-block tw-py-2 tw-px-305 tw-rounded" href="/project-details">Project Details</a></li>
                                        <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative"><a class="nav-submenu__link hover-bg-neutral-200 text-heading fw-semibold w-100 d-block tw-py-2 tw-px-305 tw-rounded" href="/register">Register</a></li>
                                        <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative"><a class="nav-submenu__link hover-bg-neutral-200 text-heading fw-semibold w-100 d-block tw-py-2 tw-px-305 tw-rounded" href="/service-details">Service Details</a></li>
                                        <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative"><a class="nav-submenu__link hover-bg-neutral-200 text-heading fw-semibold w-100 d-block tw-py-2 tw-px-305 tw-rounded" href="/shop">Shop</a></li>
                                        <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative"><a class="nav-submenu__link hover-bg-neutral-200 text-heading fw-semibold w-100 d-block tw-py-2 tw-px-305 tw-rounded" href="/shop-details">Shop Details</a></li>
                                    </ul>
                                </li>
                                <li class="nav-menu__item has-submenu position-relative">
                                    <a class="nav-menu__link hover--translate-y-1 tw-pe-5 text-heading tw-py-9 fw-semibold w-100"
                                        href="javascript:void(0)">Services</a>
                                    <ul
                                        class="nav-submenu scroll-sm position-absolute tw-start-0 top-100 tw-w-max bg-white tw-rounded-md overflow-y-auto tw-p-2 tw-mt-4 tw-duration-200 tw-z-99">
                                        <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative">
                                            <a class="nav-submenu__link hover-bg-neutral-200 text-heading fw-semibold w-100 d-block tw-py-2 tw-px-305 tw-rounded"
                                                href="/service-details">
                                                Service Details
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                                                <li class="nav-menu__item has-submenu position-relative">
                                    <a class="nav-menu__link hover--translate-y-1 tw-pe-5 text-heading tw-py-9 fw-semibold w-100"
                                        href="javascript:void(0)">Industries</a>
                                    <ul
                                        class="industries-dropdown nav-submenu scroll-sm position-absolute tw-start-0 top-100 tw-w-max tw-rounded-md overflow-y-auto tw-p-2 tw-mt-4 tw-duration-200 tw-z-99">
                                        <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative">
                                            <a class="nav-submenu__link text-heading fw-semibold w-100 d-block tw-py-2 tw-px-305 tw-rounded" href="#">B2B Marketing</a>
                                        </li>
                                        <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative">
                                            <a class="nav-submenu__link text-heading fw-semibold w-100 d-block tw-py-2 tw-px-305 tw-rounded" href="#">Eduction</a>
                                        </li>
                                        <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative">
                                            <a class="nav-submenu__link text-heading fw-semibold w-100 d-block tw-py-2 tw-px-305 tw-rounded" href="#">Healthcare</a>
                                        </li>
                                        <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative">
                                            <a class="nav-submenu__link text-heading fw-semibold w-100 d-block tw-py-2 tw-px-305 tw-rounded" href="#">Hospitality</a>
                                        </li>
                                        <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative">
                                            <a class="nav-submenu__link text-heading fw-semibold w-100 d-block tw-py-2 tw-px-305 tw-rounded" href="#">Real Estate</a>
                                        </li>
                                        <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative">
                                            <a class="nav-submenu__link text-heading fw-semibold w-100 d-block tw-py-2 tw-px-305 tw-rounded" href="#">Jewellery</a>
                                        </li>
                                        <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative">
                                            <a class="nav-submenu__link text-heading fw-semibold w-100 d-block tw-py-2 tw-px-305 tw-rounded" href="#">Travel</a>
                                        </li>
                                        <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative">
                                            <a class="nav-submenu__link text-heading fw-semibold w-100 d-block tw-py-2 tw-px-305 tw-rounded" href="#">Food</a>
                                        </li>
                                        <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative">
                                            <a class="nav-submenu__link text-heading fw-semibold w-100 d-block tw-py-2 tw-px-305 tw-rounded" href="#">Clothing</a>
                                        </li>
                                        <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative">
                                            <a class="nav-submenu__link text-heading fw-semibold w-100 d-block tw-py-2 tw-px-305 tw-rounded" href="#">Manufacture</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-menu__item">
                                    <a class="nav-menu__link hover--translate-y-1 text-heading tw-py-9 fw-semibold w-100"
                                        href="/project-details">Our Work</a>
                                </li>
                                <li class="nav-menu__item">
                                    <a class="nav-menu__link hover--translate-y-1 text-heading tw-py-9 fw-semibold w-100"
                                        href="/blog">Blog</a>
                                </li>
                                <li class="nav-menu__item">
                                    <a class="nav-menu__link hover--translate-y-1 text-heading tw-py-9 fw-semibold w-100"
                                        href="/about">About Us</a>
                                </li>
                                <li class="nav-menu__item">
                                    <a class="nav-menu__link hover--translate-y-1 text-heading tw-py-9 fw-semibold w-100"
                                        href="/contact">Contact Us</a>
                                </li>
            </ul>
            <!-- Nav menu End  -->
        </div>
        <a class="btn btn-main-two hover-style-two button--stroke d-sm-none d-inline-flex align-items-center justify-content-center tw-gap-5 group active--translate-y-2 tw-px-8 rounded-pill tw-mt-6"
            data-block="button" href="/register">
            <span class="button__flair"></span>
            <span class="button__label">Sign Up Now</span>
        </a>
    </div>
</div>
<!-- ==================== Mobile Menu End Here ==================== -->
