<!--==================== Preloader Start ====================-->
<div class="preloader">
    <div class="cssload-loading"><i></i><i></i><i></i><i></i></div>
</div>
<!--==================== Preloader End ====================-->
<!-- ========================== Settings Panel start ==================================== -->
<div class="settings-panel position-fixed top-50 translate-middle-y tw-z-999 d-flex align-items-center">
    <button
        class="settings-button tw-w-12 tw-h-12 bg-main-600 text-white hover-bg-main-800 tw-duration-100 d-flex justify-content-center align-items-center"
        type="button">
        <i class="ph-fill ph-gear-six setting-icon tw-text-2xl tw-leading-none animation-rotate tw-w-6 tw-h-6"></i>
        <i class="ph-bold ph-x close-icon tw-text-2xl tw-leading-none tw-w-6 tw-h-6"></i>
    </button>
    <div
        class="settings-panel__content bg-white tw-px-6 tw-py-13 d-flex flex-column tw-gap-10 scroll-sm overflow-y-auto">
        <div class="d-flex flex-column tw-gap-10">
            <div class="">
                <h6 class="settings-panel__title text-center tw-mb-6 text-uppercase">
                    Cursor
                </h6>
                <div class="settings-panel__buttons cursor__buttons d-flex tw-gap-4">
                    <button
                        class="settings-panel__button cursor-animate bg-main-two-600 hover-bg-main-600 tw-duration-300 text-white tw-text-base tw-py-305 tw-px-3 fw-medium active-scale-094 flex-grow-1 active"
                        type="button">
                        Animate
                    </button>
                    <button
                        class="settings-panel__button cursor-default bg-main-two-600 hover-bg-main-600 tw-duration-300 text-white tw-text-base tw-py-305 tw-px-3 fw-medium active-scale-094 flex-grow-1"
                        type="button">
                        Default
                    </button>
                </div>
            </div>
            <div class="">
                <h6 class="settings-panel__title text-center tw-mb-6 text-uppercase">
                    Direction
                </h6>
                <div class="settings-panel__buttons d-flex tw-gap-4">
                    <button
                        class="settings-panel__button direction-ltr bg-main-two-600 hover-bg-main-600 tw-duration-300 text-white tw-text-base tw-py-305 tw-px-3 fw-medium active-scale-094 flex-grow-1 active"
                        type="button">
                        LTR
                    </button>
                    <button
                        class="settings-panel__button direction-rtl bg-main-two-600 hover-bg-main-600 tw-duration-300 text-white tw-text-base tw-py-305 tw-px-3 fw-medium active-scale-094 flex-grow-1"
                        type="button">
                        RTL
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ========================== Settings Panel end ==================================== -->
<!--==================== Overlay Start ====================-->
<div class="overlay"></div>
<!--==================== Overlay End ====================-->
<!--==================== Sidebar Overlay End ====================-->
<div class="side-overlay"></div>
<!--==================== Sidebar Overlay End ====================-->
<!-- Custom Toast Message start -->
<div id="toast-container"></div>
<!-- Custom Toast Message End -->
<!-- ==================== Scroll to Top End Here ==================== -->
<div class="progress-wrap">
    <svg class="progress-circle svg-content" height="100%" viewbox="-1 -1 102 102" width="100%">
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"></path>
    </svg>
</div>
<!-- ==================== Scroll to Top End Here ==================== -->
<!-- Custom Cursor Start -->
<div class="cursor"></div>
<span class="dot"></span>
<!-- Custom Cursor End -->
<!-- ==================== Mobile Menu Start Here ==================== -->
<div
    class="mobile-menu d-lg-none d-block scroll-sm position-fixed bg-white tw-w-300-px tw-h-screen overflow-y-auto tw-p-6 tw-z-999 tw--translate-x-full tw-pb-68">
    <button
        class="close-button position-absolute tw-end-0 top-0 tw-me-2 tw-mt-2 tw-w-605 tw-h-605 rounded-circle d-flex justify-content-center align-items-center text-neutral-900 bg-neutral-200 hover-bg-neutral-900 hover-text-white"
        type="button">
        <i class="ph ph-x"></i>
    </button>
    <div class="mobile-menu__inner">
        <a class="mobile-menu__logo" href="/">
            <img alt="Logo" src="/images/logo/logo.png" />
        </a>
        <div class="mobile-menu__menu">
            <!-- Nav menu Start -->
            <ul class="nav-menu d-lg-flex align-items-center nav-menu--mobile d-block tw-mt-8">
                <li class="nav-menu__item has-submenu activePage">
                    <a class="nav-menu__link hover--translate-y-1 tw-pe-5 text-heading tw-py-9 fw-semibold w-100"
                        href="javascript:void(0)">Home</a>
                    <!-- mega menu start -->
                    <div
                        class="mega-menu tw-p-6 tw-rounded-lg scroll-sm nav-submenu position-absolute start-0 top-100 tw-w-max bg-white tw-rounded-md tw-z-99">
                        <div class="row g-4 row-cols-1 row-cols-lg-3 row-cols-xl-4">
                            <div class="col">
                                <div class="mega-menu-item group-item">
                                    <div
                                        class="position-relative border border-neutral-200 tw-rounded-lg overflow-hidden">
                                        <a class="d-block" href="/">
                                            <img alt="Home Page Image"
                                                class="tw-h-440-px w-100 object-fit-cover object-top"
                                                src="/images/thumbs/home-img1.png" />
                                        </a>
                                        <div class="d-lg-flex d-none">
                                            <div
                                                class="mega-menu-item__overlay position-absolute top-0 tw-start-0 w-100 h-100 d-flex justify-content-center align-items-center tw-invisible opacity-0 group-hover-item-visible group-hover-item-opacity-1 tw-scale-08 group-hover-item-scale-1 tw-rounded-lg pointer-event-none">
                                            </div>
                                            <div
                                                class="mega-menu-item__buttons position-absolute top-0 tw-start-0 w-100 h-100 d-flex justify-content-center align-items-center flex-column tw-gap-4 tw-invisible opacity-0 group-hover-item-visible group-hover-item-opacity-1">
                                                <a class="btn btn-main hover-style-one button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-705 group active--translate-y-2 tw-p-1 tw-ps-8 rounded-pill group-item"
                                                    data-block="button" href="/" target="_blank">
                                                    <span class="button__flair"></span>
                                                    <span class="button__label">Live Preview</span>
                                                    <span
                                                        class="tw-w-12 tw-h-12 bg-white text-main-600 tw-text-xl rounded-circle d-flex justify-content-center align-items-center position-relative tw-duration-500">
                                                        <i
                                                            class="ph-bold ph-arrow-right tw-rotate--45-deg group-hover-item-rotate-0-deg tw-duration-300"></i>
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tw-mt-4 text-center">
                                        <a class="text-heading hover-text-main-600 fw-semibold tw-text-md text-capitalize line-clamp-1"
                                            href="/">IT
                                            Solution</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="mega-menu-item group-item">
                                    <div
                                        class="position-relative border border-neutral-200 tw-rounded-lg overflow-hidden">
                                        <a class="d-block" href="/index-2">
                                            <img alt="Home Page Image"
                                                class="tw-h-440-px w-100 object-fit-cover object-top"
                                                src="/images/thumbs/home-img2.png" />
                                        </a>
                                        <div class="d-lg-flex d-none">
                                            <div
                                                class="mega-menu-item__overlay position-absolute top-0 tw-start-0 w-100 h-100 d-flex justify-content-center align-items-center tw-invisible opacity-0 group-hover-item-visible group-hover-item-opacity-1 tw-scale-08 group-hover-item-scale-1 tw-rounded-lg pointer-event-none">
                                            </div>
                                            <div
                                                class="mega-menu-item__buttons position-absolute top-0 tw-start-0 w-100 h-100 d-flex justify-content-center align-items-center flex-column tw-gap-4 tw-invisible opacity-0 group-hover-item-visible group-hover-item-opacity-1">
                                                <a class="btn btn-main hover-style-one button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-705 group active--translate-y-2 tw-p-1 tw-ps-8 rounded-pill group-item"
                                                    data-block="button" href="/index-2" target="_blank">
                                                    <span class="button__flair"></span>
                                                    <span class="button__label">Live Preview</span>
                                                    <span
                                                        class="tw-w-12 tw-h-12 bg-white text-main-600 tw-text-xl rounded-circle d-flex justify-content-center align-items-center position-relative tw-duration-500">
                                                        <i
                                                            class="ph-bold ph-arrow-right tw-rotate--45-deg group-hover-item-rotate-0-deg tw-duration-300"></i>
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tw-mt-4 text-center">
                                        <a class="text-heading hover-text-main-600 fw-semibold tw-text-md text-capitalize line-clamp-1"
                                            href="/index-2">Web
                                            Hosting</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="mega-menu-item group-item">
                                    <div
                                        class="position-relative border border-neutral-200 tw-rounded-lg overflow-hidden">
                                        <a class="d-block" href="/index-3">
                                            <img alt="Home Page Image"
                                                class="tw-h-440-px w-100 object-fit-cover object-top"
                                                src="/images/thumbs/home-img3.png" />
                                        </a>
                                        <div class="d-lg-flex d-none">
                                            <div
                                                class="mega-menu-item__overlay position-absolute top-0 tw-start-0 w-100 h-100 d-flex justify-content-center align-items-center tw-invisible opacity-0 group-hover-item-visible group-hover-item-opacity-1 tw-scale-08 group-hover-item-scale-1 tw-rounded-lg pointer-event-none">
                                            </div>
                                            <div
                                                class="mega-menu-item__buttons position-absolute top-0 tw-start-0 w-100 h-100 d-flex justify-content-center align-items-center flex-column tw-gap-4 tw-invisible opacity-0 group-hover-item-visible group-hover-item-opacity-1">
                                                <a class="btn btn-main hover-style-one button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-705 group active--translate-y-2 tw-p-1 tw-ps-8 rounded-pill group-item"
                                                    data-block="button" href="/index-3" target="_blank">
                                                    <span class="button__flair"></span>
                                                    <span class="button__label">Live Preview</span>
                                                    <span
                                                        class="tw-w-12 tw-h-12 bg-white text-main-600 tw-text-xl rounded-circle d-flex justify-content-center align-items-center position-relative tw-duration-500">
                                                        <i
                                                            class="ph-bold ph-arrow-right tw-rotate--45-deg group-hover-item-rotate-0-deg tw-duration-300"></i>
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tw-mt-4 text-center">
                                        <a class="text-heading hover-text-main-600 fw-semibold tw-text-md text-capitalize line-clamp-1"
                                            href="/index-3">Task
                                            Management</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="mega-menu-item group-item">
                                    <div
                                        class="position-relative border border-neutral-200 tw-rounded-lg overflow-hidden">
                                        <a class="d-block" href="/index-4">
                                            <img alt="Home Page Image"
                                                class="tw-h-440-px w-100 object-fit-cover object-top"
                                                src="/images/thumbs/home-img4.png" />
                                        </a>
                                        <div class="d-lg-flex d-none">
                                            <div
                                                class="mega-menu-item__overlay position-absolute top-0 tw-start-0 w-100 h-100 d-flex justify-content-center align-items-center tw-invisible opacity-0 group-hover-item-visible group-hover-item-opacity-1 tw-scale-08 group-hover-item-scale-1 tw-rounded-lg pointer-event-none">
                                            </div>
                                            <div
                                                class="mega-menu-item__buttons position-absolute top-0 tw-start-0 w-100 h-100 d-flex justify-content-center align-items-center flex-column tw-gap-4 tw-invisible opacity-0 group-hover-item-visible group-hover-item-opacity-1">
                                                <a class="btn btn-main hover-style-one button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-705 group active--translate-y-2 tw-p-1 tw-ps-8 rounded-pill group-item"
                                                    data-block="button" href="/index-4" target="_blank">
                                                    <span class="button__flair"></span>
                                                    <span class="button__label">Live Preview</span>
                                                    <span
                                                        class="tw-w-12 tw-h-12 bg-white text-main-600 tw-text-xl rounded-circle d-flex justify-content-center align-items-center position-relative tw-duration-500">
                                                        <i
                                                            class="ph-bold ph-arrow-right tw-rotate--45-deg group-hover-item-rotate-0-deg tw-duration-300"></i>
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tw-mt-4 text-center">
                                        <a class="text-heading hover-text-main-600 fw-semibold tw-text-md text-capitalize line-clamp-1"
                                            href="/index-4">CRM
                                            Software
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="mega-menu-item group-item">
                                    <div
                                        class="position-relative border border-neutral-200 tw-rounded-lg overflow-hidden">
                                        <a class="d-block" href="/index-5">
                                            <img alt="Home Page Image"
                                                class="tw-h-440-px w-100 object-fit-cover object-top"
                                                src="/images/thumbs/home-img5.png" />
                                        </a>
                                        <div class="d-lg-flex d-none">
                                            <div
                                                class="mega-menu-item__overlay position-absolute top-0 tw-start-0 w-100 h-100 d-flex justify-content-center align-items-center tw-invisible opacity-0 group-hover-item-visible group-hover-item-opacity-1 tw-scale-08 group-hover-item-scale-1 tw-rounded-lg pointer-event-none">
                                            </div>
                                            <div
                                                class="mega-menu-item__buttons position-absolute top-0 tw-start-0 w-100 h-100 d-flex justify-content-center align-items-center flex-column tw-gap-4 tw-invisible opacity-0 group-hover-item-visible group-hover-item-opacity-1">
                                                <a class="btn btn-main hover-style-one button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-705 group active--translate-y-2 tw-p-1 tw-ps-8 rounded-pill group-item"
                                                    data-block="button" href="/index-5" target="_blank">
                                                    <span class="button__flair"></span>
                                                    <span class="button__label">Live Preview</span>
                                                    <span
                                                        class="tw-w-12 tw-h-12 bg-white text-main-600 tw-text-xl rounded-circle d-flex justify-content-center align-items-center position-relative tw-duration-500">
                                                        <i
                                                            class="ph-bold ph-arrow-right tw-rotate--45-deg group-hover-item-rotate-0-deg tw-duration-300"></i>
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tw-mt-4 text-center">
                                        <a class="text-heading hover-text-main-600 fw-semibold tw-text-md text-capitalize line-clamp-1"
                                            href="/index-5">App
                                            Landing</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="mega-menu-item group-item">
                                    <div
                                        class="position-relative border border-neutral-200 tw-rounded-lg overflow-hidden">
                                        <a class="d-block" href="/index-6">
                                            <img alt="Home Page Image"
                                                class="tw-h-440-px w-100 object-fit-cover object-top"
                                                src="/images/thumbs/home-img6.png" />
                                        </a>
                                        <div class="d-lg-flex d-none">
                                            <div
                                                class="mega-menu-item__overlay position-absolute top-0 tw-start-0 w-100 h-100 d-flex justify-content-center align-items-center tw-invisible opacity-0 group-hover-item-visible group-hover-item-opacity-1 tw-scale-08 group-hover-item-scale-1 tw-rounded-lg pointer-event-none">
                                            </div>
                                            <div
                                                class="mega-menu-item__buttons position-absolute top-0 tw-start-0 w-100 h-100 d-flex justify-content-center align-items-center flex-column tw-gap-4 tw-invisible opacity-0 group-hover-item-visible group-hover-item-opacity-1">
                                                <a class="btn btn-main hover-style-one button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-705 group active--translate-y-2 tw-p-1 tw-ps-8 rounded-pill group-item"
                                                    data-block="button" href="/index-6" target="_blank">
                                                    <span class="button__flair"></span>
                                                    <span class="button__label">Live Preview</span>
                                                    <span
                                                        class="tw-w-12 tw-h-12 bg-white text-main-600 tw-text-xl rounded-circle d-flex justify-content-center align-items-center position-relative tw-duration-500">
                                                        <i
                                                            class="ph-bold ph-arrow-right tw-rotate--45-deg group-hover-item-rotate-0-deg tw-duration-300"></i>
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tw-mt-4 text-center">
                                        <a class="text-heading hover-text-main-600 fw-semibold tw-text-md text-capitalize line-clamp-1"
                                            href="/index-6">Payment
                                            Solution</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="mega-menu-item group-item">
                                    <div
                                        class="position-relative border border-neutral-200 tw-rounded-lg overflow-hidden">
                                        <span class="d-block">
                                            <img alt="Home Page Image"
                                                class="tw-h-440-px w-100 object-fit-cover object-top"
                                                src="/images/thumbs/coming-soon-img.png" />
                                        </span>
                                    </div>
                                    <div class="tw-mt-4 text-center">
                                        <span
                                            class="text-heading fw-semibold tw-text-md text-capitalize line-clamp-1">Home
                                            7</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- mega menu end -->
                </li>
                <li class="nav-menu__item has-submenu position-relative">
                    <a class="nav-menu__link hover--translate-y-1 tw-pe-5 text-heading tw-py-9 fw-semibold w-100"
                        href="javascript:void(0)">Pages</a>
                    <ul
                        class="nav-submenu scroll-sm position-absolute tw-start-0 top-100 tw-w-max bg-white tw-rounded-md overflow-y-auto tw-p-2 tw-mt-4 tw-duration-200 tw-z-99">
                        <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative">
                            <a class="nav-submenu__link hover-bg-neutral-200 text-heading fw-semibold w-100 d-block tw-py-2 tw-px-305 tw-rounded"
                                href="/pricing-plan">
                                Pricing
                            </a>
                        </li>
                        <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative">
                            <a class="nav-submenu__link hover-bg-neutral-200 text-heading fw-semibold w-100 d-block tw-py-2 tw-px-305 tw-rounded"
                                href="/about">
                                About Us
                            </a>
                        </li>
                        <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative">
                            <a class="nav-submenu__link hover-bg-neutral-200 text-heading fw-semibold w-100 d-block tw-py-2 tw-px-305 tw-rounded"
                                href="/app-intigration">
                                App Integration
                            </a>
                        </li>
                        <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative">
                            <a class="nav-submenu__link hover-bg-neutral-200 text-heading fw-semibold w-100 d-block tw-py-2 tw-px-305 tw-rounded"
                                href="/intigration-details">
                                Integration Details
                            </a>
                        </li>
                        <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative">
                            <a class="nav-submenu__link hover-bg-neutral-200 text-heading fw-semibold w-100 d-block tw-py-2 tw-px-305 tw-rounded"
                                href="/policy-privacy">
                                Privacy Policy
                            </a>
                        </li>
                        <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative">
                            <a class="nav-submenu__link hover-bg-neutral-200 text-heading fw-semibold w-100 d-block tw-py-2 tw-px-305 tw-rounded"
                                href="/faq">
                                FAQ
                            </a>
                        </li>
                        <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative">
                            <a class="nav-submenu__link hover-bg-neutral-200 text-heading fw-semibold w-100 d-block tw-py-2 tw-px-305 tw-rounded"
                                href="/project-details">
                                Project Details
                            </a>
                        </li>
                        <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative">
                            <a class="nav-submenu__link hover-bg-neutral-200 text-heading fw-semibold w-100 d-block tw-py-2 tw-px-305 tw-rounded"
                                href="/service-details">
                                Service Details
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-menu__item has-submenu position-relative">
                    <a class="nav-menu__link hover--translate-y-1 tw-pe-5 text-heading tw-py-9 fw-semibold w-100"
                        href="javascript:void(0)">Shop</a>
                    <ul
                        class="nav-submenu scroll-sm position-absolute tw-start-0 top-100 tw-w-max bg-white tw-rounded-md overflow-y-auto tw-p-2 tw-mt-4 tw-duration-200 tw-z-99">
                        <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative">
                            <a class="nav-submenu__link hover-bg-neutral-200 text-heading fw-semibold w-100 d-block tw-py-2 tw-px-305 tw-rounded"
                                href="/shop">
                                Shop
                            </a>
                        </li>
                        <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative">
                            <a class="nav-submenu__link hover-bg-neutral-200 text-heading fw-semibold w-100 d-block tw-py-2 tw-px-305 tw-rounded"
                                href="/shop-details">
                                Shop Details
                            </a>
                        </li>
                        <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative">
                            <a class="nav-submenu__link hover-bg-neutral-200 text-heading fw-semibold w-100 d-block tw-py-2 tw-px-305 tw-rounded"
                                href="/cart">
                                Cart
                            </a>
                        </li>
                        <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative">
                            <a class="nav-submenu__link hover-bg-neutral-200 text-heading fw-semibold w-100 d-block tw-py-2 tw-px-305 tw-rounded"
                                href="/checkout">
                                Checkout
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-menu__item has-submenu position-relative">
                    <a class="nav-menu__link hover--translate-y-1 tw-pe-5 text-heading tw-py-9 fw-semibold w-100"
                        href="javascript:void(0)">Blog</a>
                    <ul
                        class="nav-submenu scroll-sm position-absolute tw-start-0 top-100 tw-w-max bg-white tw-rounded-md overflow-y-auto tw-p-2 tw-mt-4 tw-duration-200 tw-z-99">
                        <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative">
                            <a class="nav-submenu__link hover-bg-neutral-200 text-heading fw-semibold w-100 d-block tw-py-2 tw-px-305 tw-rounded"
                                href="/blog">
                                Blog
                            </a>
                        </li>
                        <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative">
                            <a class="nav-submenu__link hover-bg-neutral-200 text-heading fw-semibold w-100 d-block tw-py-2 tw-px-305 tw-rounded"
                                href="/blog-details">
                                Blog Details
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-menu__item">
                    <a class="nav-menu__link hover--translate-y-1 text-heading tw-py-9 fw-semibold w-100"
                        href="/contact">Contact</a>
                </li>
            </ul>
            <!-- Nav menu End  -->
        </div>
        <a class="btn btn-main-two hover-style-two button--stroke d-sm-none d-inline-flex align-items-center justify-content-center tw-gap-5 group active--translate-y-2 tw-px-8 rounded-pill tw-mt-6"
            data-block="button" href="/register">
            <span class="button__flair"></span>
            <span class="button__label">Sign Up Now</span>
        </a>
    </div>
</div>
<!-- ==================== Mobile Menu End Here ==================== -->